html, body {
    height: 100vh;
    width: 100vw;
    font-family: 'Rubik', sans-serif;
}

body, nav {
  background: black;
}

.hero {
  height: 100vh;
  background: url('../img/beer.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center;
}

.beer-ul li {
  color: black;
  background: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

.beer-name {
  font-size: 1.7em;
}

.beer-brand {
  color: #730217;
  font-size: 1.1em;
}

.quantity-box {
  font-size: 1.7em;
  white-space: nowrap;
}

li:hover span {
  opacity:1;
}

.addRemove {
  font-size: 2em;
}

.beer-info-box {
  margin-right: 30px;
}

.beer-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year-box {
  color: #D95204;
  font-size: 1.7em;
}

.beer-qty-icon {
  font-size: 2em;
}

li .btn {
  white-space:nowrap;
}

.bg-black {
  background: black;
}

.bg-orange {
  background: #D95204;
}

.darkred {
  color: #730217;
}

.beer-me-text {
  font-weight: bold;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
@media (max-width: 346px) {  
  .btn-group .btn {font-size: .8em}
}
/* Small devices (landscape phones, 544px and up) */
@media (max-width: 544px) {  
  .hero-headline {font-size: 2em;}
  .hero-paragraph {font-size: .9em;}
}